
##### VisualStudioCode
.vscode/*
# Local History for Visual Studio Code
.history/

# 
.idea

# Data
Data/*
txtData/*
txtData2/*

# make build
build/*

# log file
src/debug.log
src/result.log
src/input.txt