
##### VisualStudioCode
.vscode/*
# Local History for Visual Studio Code
.history/

# 
.idea

# Result
result/*

# Data
Data/*
txtData/*
txtData2/*

# make build
build/*

# log file
src/input.txt
src/result.log
src/debug.log
src/result.csv

# excutable file
bao.exe 
result.csvs